.menu {
  background-color: #262223;
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
}
.name {
  width: 50%;
  text-align: left;
  /* margin-left: 20px; */
  font-size: 35px;
  font-weight: 800px;
  font-family: "Playwrite AU SA", cursive;
  color: #ddc6b6;
}
footer {
  background-color: #262223;
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  justify-content: space-around;
}
.restaurant {
  width: 30%;
  padding: 5px;
  text-align: center;
  font-family: "Playwrite AU SA", cursive;
  color: #ddc6b6;
}
.restaurant img {
  padding: 2px 9px;
  width: 55px;
  height: 40px;
}

.deader {
  /* background-color: #ff9c00; */
  color: black;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  z-index: 99;
  top: 0px;
  display: flex;
  /* margin-left: 200px; */
}
.deader ul {
  display: flex;
  justify-content: space-around;
  margin-right: 20px;
  list-style: none;
}
.deader > ul > li {
  position: relative;
  padding: 0 0 0px 0;
  margin: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
li a {
  color: #ddc6b6;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}
/* a:hover {
  color: crimson;
} */
.img {
  height: 100vh;
  width: 100vw;
}
.title {
  margin-bottom: 0px;
  padding-left: 10px;
  font-family: "Playwrite AU SA";
}
.title h1 {
  text-shadow: 0px 0px 10px #dfe704;
  font-weight: bold;
  font-size: 50px;
  font-style: italic;
  color: #a21d33;
  text-align: center;
}
.title .welcome-3 {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  margin-left: 10px;
  color: black;
  font-weight: 100;
  text-align: left;
  font-size: medium;
  font-weight: 300;
}
.error-message {
  color: red;
  font-size: 12px;
  margin-left: 16px;
}
.tooltip {
  position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #34ba0c;
  color: #fff;
  text-align: center;
  padding: 8px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 105%;
  left: 0%;
  margin-left: 61px;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #34ba0c transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.foods {
  display: flex;
  flex-wrap: wrap; /* Cho phép tràn hàng */
  gap: 20px; /* Khoảng cách giữa các div con */
  justify-content: space-between;
  margin-bottom: 22px;
}
.food {
  margin-right: 26px;
  width: 45%;
  display: flex;
  justify-content: space-around;
  margin-left: 26px;
  background-color: white;
  padding: 10%;
  border: solid 2px #b0151b;
  padding: 20px;
  background-color: #2e2222;
  color: #ffffff;
  border-radius: 10px;
  /* opacity: 0.7; */
  text-align: center;
  margin-bottom: 0px;
}
.menu-image {
  padding: 5px;
  width: 50%;
}
.menu-image img {
  border-radius: 5px;
  border: 1.5px solid orange;
  width: 100%;
  text-align: center;
  padding: 10px;
}
.menu-text {
  width: 60%;
  /* margin-bottom: 10px;
  padding: 10px; */
  margin-left: 20px;
  /* margin-left: 0px;
    margin-right: 20px;
    line-height: 35px; */
  font-family: "Zen Maru Gothic", serif;
}
.menu-text strong {
  font-size: 18px;
  color: aquamarine;
}
.keys {
  border: 1px solid;
  text-align: center;
  color: darkgreen;
  margin: 15px;
  font-size: 22px;
}
.moji {
  padding: 3px;
  font-size: 10px;
}
.beginner-app-install {
  margin-left: 72px;
  border-radius: 50px;
  border: 1px solid;
  margin-top: 50px;
  margin-bottom: 50px;
  /* margin: auto; */
  padding: 50px 0;
  max-width: 1120px;
  color: #fff;
  background-color: #46d087;
}
.beginner-app-install__inner {
  display: flex;
  flex-flow: row-reverse;
  justify-content: center;
}
.beginner-app-install__detail::before {
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  content: "";
  /* background-image: url(https://tblg.k-img.com/images/help/beginner/beginner_webtoapp_icon.png?f6424d5…); */
  background-size: contain;
}
.beginner-app-install__main {
  margin-right: 80px;
}
div,
p {
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.beginner-app-install__heading {
  margin-bottom: 30px;
  font-size: 28px;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
em,
b {
  font-style: normal;
  font-weight: bold;
}
.beginner-app-install__detail {
  margin-bottom: 8px;
  font-size: 1.6rem;
}
div,
p {
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.beginner-app-install__btn {
  margin-top: 30px;
}
div,
p {
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.beginner-app-install__text {
  margin-top: 20px;
  font-weight: 600;
  font-size: 1.6rem;
}
.menufd {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
}
.creatton {
  margin-bottom: 50px;
  margin-top: 50px;
  width: 100%;
  /* padding: 20px; */
  box-sizing: border-box;
  /* margin: 39px; */
  display: flex;
  justify-content: space-around;
}

.creatton img {
  border: 8px double orangered;
  width: 80%;
  /* height: 280px; */
  /* height: 455px;
  margin-bottom: 50px;
  width: 50%;
  margin-top: 5px;
  align-items: center;
  margin-left: 35px;
  border: solid 2px #b0151b; */
}
hr {
  margin-right: 250px;
  margin-left: 250px;
  border-top: 2px solid black;
  margin-bottom: 25px;
}
